body{
  font-family:Space Mono;
  background: rgb(55,0,117);
  hyphens: none;
  text-align: justify;
  margin: 2em;
  padding: 0 2em;
}

.container {
  background-color:#E2DADA;
  width:600px;
  margin:0 auto;
  padding: 0.5em 4em;
  border-left: 8px solid #FDBA31;
  border-radius: 0 30px 30px 0 ;
}
a {
  text-decoration:none;
  color : #fff;
}
h1,h2,h3{
  font-family:Space Grotesk;
  color:#620097;
}
h1{
  letter-spacing:0.1em;
  font-size: 3rem;
}
h2, h3{
  font-weight: 200;
}

.yellow-underline {
  background-color:#FDBA31;
  height:0.7em;
  line-height:0.05em;
  display: inline-flex;
}
h3{
  text-align:center;
}
.left-text{
  margin-left: 15%;
}

.card{
padding: 1em 0;
}

.img-round{
  float: left;
  margin-right:1em;
  shape-outside: circle(50%);
  border-radius : 50%;
  border: 4px solid #FDBA31;
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: 0 90%;
}
.intro{
  padding: 0.8em 0 1em 7em;
}
.link-wlcm{
  margin: 2em auto;
  text-align:center;
  padding : 0.8em;
  font-family:Space Grotesk;
}
.btn-purple{
  color : white;
  background-color:#620097;
  padding : 10px 30px;
  border-radius: 2em;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
  font-weight:600;
}
.btn-purple:hover{
  background-color : white;
  color:rgb(98, 0, 151);
  box-shadow: 0 0 12px rgb(98, 0, 151);
  transition: 0.3s ease;
}
.inline-list{
  text-align: center;
  color: #620097;
  padding : 0.8em
}

.inline-list li {
  display:inline;
  list-style-type: none;
  margin:0 3em;
}

.btn-socials {
  color : #620097;
  text-shadow: 0px 0px 12px rgba(255,255,255,1);
  font-weight:600;
  font-size: 2rem;
}
.btn-socials:hover {
  color : white;
  text-shadow: 0px 0px 12px #620097;
  transition: 0.3s ease;
  text-shadow: #620097;
}

/****************************/
/******** Responsive ********/
/****************************/

@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 600px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  body{
    margin: 1.6em;
    padding: 0 1.6em;
  }
  .container {
    width:480px;
    padding: 0.4em 3.4em;
  }
  h1{
    font-size: 2.6rem;
  }
  .left-text{
    margin-left: 15%;
  }
  .card{
  padding: 0.4em 0;
  }
  .img-round{
    margin-right:0.8em;
    width: 130px;
    height: 130px;
  }
  .intro{
    padding: 0.2em 0 0.6em 4em;
  }
  .link-wlcm{
    margin: 1.2em auto;
  }
  .inline-list{
    padding : 0.6em
  }
  .inline-list li {
    margin:0 2.4em;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  body{
    margin: 1em;
    padding: 0 1em;
  }
  .container {
    width:360px;
    border-radius: 0 20px 20px 0 ;
  }
  h1{
    font-size: 2.4rem;
  }
  .img-round{
    width: 110px;
    height: 110px;
  }
  .intro{
    padding: 0.2em 0 0.6em 3em;
  }
  .link-wlcm{
    margin: 1em auto;
  }
  .inline-list{
    padding : 0.2em
  }
}
/****************************/
/****** End Responsive ******/
/****************************/
